@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700&family=DM+Mono:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Figtree', sans-serif;
  background-color: #F8F9FB;
  color: #0F1620;
}